<div class='nested-fields'>
  <%= f.input :response1, inline_label: "I agree", label: false %>
  <%= f.input :response2, inline_label: "I disagree", label: false %>
  <%= f.input :response3, inline_label: "I'm not sure", label: false %>
</div>
