<h3>Question: <%= @question.content %></h3>

<p>
  <%= link_to "Edit Question", edit_question_path(@question) %> |
  <%= link_to "Delete Question", @question, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", questions_path %>
</p>
