<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Invitation to Purple Family Project</h1>

    </p>
    <p>To login to the site, just follow this link: https://purple-family.herokuapp.com/users/sign_up.</p>
    <p>Have fun connecting with your friends and family and have a great day!</p>
  </body>
</html>
