<div class="home-image">
</div>

<h2 class="home-text-question">Is your Thanksgiving going to be awkward this year?</h2>
<h1 class="home-text-purple">YOUR FAMILY MIGHT NEED SOME PURPLE.</h1>
<br>
<% if user_signed_in? %>
  <div class="home-button">
    <h4><%= link_to "TAKE THE SURVEY", questions_path %></h4>
  </div>
<% end %>
