/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 $darkpurple: #6a1b9a;
 $lightpurple: #ce93d8;

.form-success-submit {
  display: none;
}

.home-text-question {
  text-align: center;
  color: white;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}

.home-text-purple {
  text-align: center;
  color: white;
}

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  h4 {
    background-color: $lightpurple;
    padding: 20px;
    border: 2px solid $lightpurple;
    display: inline-block;
    a {
      color: white;
      transition: .25s;
      &:hover {
        text-decoration: none;
        color: $darkpurple;
      }
    }
  }
}

.home-image {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-image: asset-url("bench.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}



.survey-taken {
  text-align: center;
}
